.TopArticles-left-comp{
    width: 800px;
    height: 1120px;
    /* background-color: antiquewhite; */
    position: absolute;
    left: 40px;
    top: 256px;
    display: inline;


}

.TopArticles-left-data-1{

    width: 713px;
    height: 260px;
    margin-left: 30px;
    margin-right: 5px;
    margin-bottom: 30px;
    padding-left: 21px;
    margin-top: 30px;
    /* background-color: aqua; */
    border-radius: 10px;
}

#TopArticles-left-imgurl{
    width: 210px;
    height: 210px;
    position: relative;
    left: -240px;
    top: 26px;

}

#TopArticles-left-title{
    width: 443px;
    height: 60px;
    position: relative;
    left: 267px;
    top: -207px;
    font-size: 30px;
    text-align: left;
    color: coral;

}

#TopArticles-left-desc{
    width: 372px;
    height: 100px;
    position: relative;
    left: 267px;
    top: -259px;
    font-size: 12px;
    text-align: left;
}

#TopArticles-left-cat{
    position: relative;
    width: 50px;
    font-size: 15px;
    color: deeppink;
    top: -257px;
    left: 266px;
}

 













.TopPostsm-comp{
    width: 391px;
    height: 359px;
    /* background-color: burlywood; */
    position: absolute;
    top: 261px;
    left: 14px;
    display: grid;

}

.TopPostsm-data-1{
    width: 713px;
    height: 260px;
    margin-left: 30px;
    margin-right: 5px;
    margin-bottom: 30px;
    padding-left: 21px;
    margin-top: 30px;
    /* background-color: aqua; */
    border-radius: 10px;

    /* width: 480px;
    height: 120px;
    margin: 30px;
    padding-left: 21px;
    background-color: azure; */

}

#TopPostsm-imgurl{
    width: 160px;
    height: 150px;
    position: relative;
    left: -73px;
    top: 17px;


}

#TopPostsm-title-head{
    position: relative;
    top: -16px;
    left: -111px;
    font-size: 22px;
    color: coral;

}

#TopPostsm-class{
    position: relative;
    top: -205px;
    left: 33px;
    color: coral;

}

p#TopPostsm-title{
    width: 140px;
    position: relative;
    left: 180px;
    height: 60px;
    text-align: left;
    top: -149px;
    font-size: 17px;
    color: blueviolet;
}

/* p#TopPostsm-title{
    width: 140px;
    position: relative;
    left: 180px;
    height: 60px;
    text-align: left;
    top: -131px;
    font-size: 17px;
    color: coral;
} */
#TopPostsm-cat{
    position: relative;
    width: 40px;
    top: -168px;
    font-size: 14px;
    left: 181px;
    color: crimson;
}

#TopPostsm-day-time{
    width: 236px;
    position: relative;
    top: -170px;
    left: 184px;
    font-size: 9px;
    text-align: left;
    color: darkorange;
}