.TheLatest{
    left: 604px;
    top: 710px;
    width: 101px;
    right: 225px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#TheLatest-comp-img{
    width: 300px;
    height: 197.5px;
    margin: 13px;
}

#TheLatest-comp-title{
    position: relative;
    left: 13px;
    width: 200px;
    font-size: 20px;
    top: -17px;
    text-align-last: justify;

}

#TheLatest-comp-desc{
    width: 295px;
    text-align: left;
    position: relative;
    left: 15px;
    top: -28px;

}

#TheLatest-comp-cat{
    position: relative;
    font-size: 11px;
    color: gray;
    left: -119px;
    top: -24px;

}

#TheLatest-comp-date{
    position: relative;
    width: 130px;
    font-size: 10px;
    left: 32px;
    top: -49px;
    color: gray;

}




#TheLatest-articles-comp-title{
    position: relative;
    left: -41px;
    width: 210px;
    height: 100px;
    top: -17px;
    text-align-last: justify;
    text-align: left;
    font-size: 27px;
    margin: 60px;

}

#TheLatest-articles-comp-desc{
    width: 287px;
    text-align: left;
    position: relative;
    left: 16px;
    top: -13px;
    text-align-last: start;
}

#TheLatest-articles-comp-cat{
    position: relative;
    font-size: 14px;
    color: burlywood;
    left: -118px;
    top: -21px;
}

#TheLatest-articles-comp-daytime{
    position: relative;
    width: 130px;
    font-size: 13px;
    left: 54px;
    top: -53px;
    color: gray;

}

#comp-TheLatest-Articles{
    left: 12px;
    position: absolute;
    left: -373px;
    margin: 17px;

}



.TheLatestArticles-left-comp{
    width: 600px;
    height: 700px;
    /* background-color: antiquewhite; */
    position: absolute;
    left: 180px;
    top: 1651px;
    display: inline;


}

.TheLatestArticles-left-data-1{

    width: 480px;
    height: 120px;
    margin: 30px;
    padding-left: 21px;
    /* background-color: azure; */
}

#TheLatestArticles-left-imgurl{
    width: 120px;
    height: 90px;
    position: relative;
    left: -190px;
    top: 16px;

}

#TheLatestArticles-left-title{
    width: 200px;
    height: 50px;
    position: relative;
    left: 135px;
    top: -105px;
    font-size: 18px;
    /* background-color: aquamarine; */
    text-align: left;

}

#TheLatestArticles-left-desc{
    width: 284px;
    height: 45px;
    position: relative;
    left: 135px;
    top: -117px;
    font-size: 9px;
    text-align: left;
}

#TheLatestArticles-left-cat{
    position: relative;
    width: 50px;
    font-size: 10px;
    color: black;
    top: -136px;
    left: 138px;
}

#TheLatestArticles-left-day-time{
    width: 125px;
    height: 10px;
    position: absolute;
    left: 206px;
    top: 119px;
    font-size: 10px;

}

#TopPosts-title{
    width: 207px;
    position: relative;
    left: 14px;
    height: 60px;
    text-align: left;
}

#TopPosts-class{
    width: 60px;
    position: relative;
    left: 14px;
    text-align: left;
    top: -13px;
    font-size: 14px;

}

#TopPosts-date{
    position: relative;
    top: -21px;
    font-size: 13px;
    left: -45px;
}


.TopPosts-comp{
    width: 266px;
    height: 359px;
    /* background-color: burlywood; */
    position: absolute;
    top: 230px;
    left: 14px;
    display: grid;

}

.TopPosts-data-1{
    width:250px;
    height:60px;

    /* width: 480px;
    height: 120px;
    margin: 30px;
    padding-left: 21px;
    background-color: azure; */

}

#TopPosts-imgurl{
    width: 80px;
    height: 80px;
    position: relative;
    left: -73px;
    top: 17px;


}

#TopPosts-title-head{
    position: relative;
    left: 15px;
    top: 0px;
    font-size: 18px;
    width: 160px;
    text-align: left;

}

#TopPosts-title{
    width: 135px;
    position: relative;
    left: 100px;
    height: 60px;
    text-align: left;
    top: -80px;
    font-size: 14px;
}

#TopPosts-cat{
    position: relative;
    width: 40px;
    top: -98px;
    font-size: 12px;
    left: 102px;
}

#TopPosts-day-time{
    width: 120px;
    position: relative;
    top: -126px;
    left: 125px;
    font-size: 12px;
}

#TopPosts-numb{
    width: 70px;
    height: 70px;
    position: relative;
    top: -211px;
    left: 200px;
    font-size: x-large;
    color: gray;
}

#TheLAtestArticles-bot-img{
    width: 600px;
    height:350px;
    position: absolute;
    top: 2480px;
    left: 180px;

}